* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-image: url('img/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center;
  background-color: black;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  position: flex;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  margin: 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
.centered-text {
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #00a8c7;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-text h1,
.centered-text h2,
.centered-text p,
.centered-text h6 {
  text-align: center;
  margin-bottom: 20px;
}
nav ul li {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  list-style: none;
  margin: 0 10px;
  float: left;
}
nav ul li img {
  vertical-align: middle;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
nav ul li:hover {
  background-color: #E9E9E9;
}
.jaar2 a {
  color: lightblue;
}

.jaar2 .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.jaar2:hover .dropdown {
  display: block;
}

.jaar2 .dropdown a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.jaar2 .dropdown a:hover {
  background-color: #E9E9E9;
}