body{
background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }

p {
    margin: 0;
    padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: none;
}

td {
  position: relative;
  padding: 10px;
}
img {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
p {
  margin-left: 100px;
  margin-top: 20px;
  font-weight: bold;
}
th {
  color: orange;
  font-weight: bold;
}